@mixin font-dpr($fontSize){
  font-size: $fontSize;
  [data-dpr="2"] & {
    font-size: $fontSize * 2;
  }
  [data-dpr="3"] & {
    font-size: $fontSize * 3;
  }
}

@mixin border-normal(){
  border: 1px solid $borderColor;
}

@mixin border-radius(){
  border-radius: 15rem/$base;
}