$fontStack:"PingFang SC","Helvetica","思源黑体","Noto SansCJK","Rotobo",sans-serif;
$base:10;
$commonBackground:#eceff4;
// 字体
// 默认
$fontColor:#333;
// 禁用
$fontDisabled:#666;


// 背景颜色
$primaryColor:#07c4ac;

// 边框颜色
$borderColor:#ccc;

$successColor: #07c4ac;
$disabledColor: #dedfe1;
$grayColor: #999;
$whiteColor: #fff;
$dangerColor:#ff4949;
$tipColor:#747474;
$orange:#ffa900;
$blueColor: #337ab7;